<meta charset="UTF-8">

<div class="conteudo" style="margin-top:0px;">
    <!DOCTYPE html>
    <html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>18ª Maratona de Programação</title></head>
    <body style="background-color: #438EC2;">
    <table width="100%" border="0" cellspacing="0" cellpadding="0">
        <tbody>
        <tr>
            <td class="tema-fundo" style="background-color: #438EC2;">

                <table width="650" align="center" border="0" cellspacing="0" cellpadding="0">
                    <tbody>
                    <tr>
                        <td height="50">

                        </td>
                    </tr>
                    <tr>
                        <td>
                            <table width="580" align="center" border="0" cellspacing="0" cellpadding="0">
                                <tbody>
                                <tr>
                                    <td class="conteudo-principal"
                                        style="background-color: #ffffff; color: #000000; padding: 20px 70px 0 70px; text-align: center;">
                                        <table width="100%" border="0" cellspacing="0" cellpadding="0">
                                            <tbody>
                                            <tr>
                                            </tr>
                                            <tr>
                                                <td align="center">
                                                    <img src="cid:18a.png" alt="" border="0"
                                                         style="display: block; width:400px; height:150px"></td>
                                            </tr>
                                            <tr>
                                                <td align="center" class="conteudo-principal-titulo conteudo-editavel"
                                                    style="font-family: Georgia, serif; font-size: 46px; padding: 20px 0 20px 0;">
                                                    Pré-inscrição realizada com sucesso!
                                                </td>
                                            </tr>
                                            <tr>
                                                <td>
                                                    <hr>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td align="center" class="conteudo-principal-texto conteudo-editavel"
                                                    style="font-family: Georgia, serif; font-size: 16px; padding: 25px 0 0 0;">
                                                    <b>Realize o pagamento para efetivar sua inscrição na Maratona de
                                                        Programação.</b> <br><br>
                                                    Para facilitar o pagamento estamos recebendo via depósito. Muito
                                                    mais rápido e prático para você.
                                                    <br>
                                                    Segue os dados abaixo para o pagamento.<br><br>

                                                    <b>Agência:</b> 3961-0 (Caixa Econômica Federal) <br>
                                                    <b>Conta Corrente:</b> 1999-0 <br>
                                                    <b>Operação:</b> 003 <br>
                                                    <b>CNPJ:</b> 01.967.178/0001-79 <br>
                                                    <b>Valor:</b> R$ 25,00
                                                    <br><br>
                                                    E-mail para envio dos comprovantes: <b>jfconseltdrive@gmail.com</b>
                                                    <br><br><br>
                                                    Horário de recebimento presencial na CONSELT: <br>
                                                    2ª feira - 13:10 às 18:00 <br>
                                                    4ª feira - 13:10 às 18:00 <br>
                                                    Endereço: UFU – Av. João Naves de Ávila, 2121 – Bairro Saraiva,
                                                    Bloco 1N – Sala 06
                                                </td>
                                            </tr>
                                            </tbody>
                                        </table>
                                    </td>
                                </tr>
                                </tbody>
                            </table>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <img src="cid:letter.png" alt="" border="0" style="display: block;"></td>
                    </tr>
                    <tr>
                        <td height="50">

                        </td>
                    </tr>
                    </tbody>
                </table>
            </td>
        </tr>
        </tbody>
    </table>
    </body>
    </html>
</div>
